<div class="contain ps-5 pe-5 fixed-top">
    <div class="row" id="navbar">
        <div class="col-md-6  pt-2 ps-2">
            <img src="assets/33649352-removebg-preview.png" width="80px" alt="">
        </div>
        <div class="col-md-6 text-end pe-5 pt-4">
            <nav>
                <ul class="list-inline">
                    <li class="list-inline-item"><a class="list p-4" routerLink="/login" >Login</a></li>
                    <li class="list-inline-item"><a class="list p-4" routerLink="/Register" >SignUp</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>
