<app-header></app-header>
<div class="contain">
    <div class="row">
        <div class="col-5" id="login">
            <h1>Hi there,</h1>
            <h3>Welcome to our<br> Online Food Corner </h3><br>
            <form [formGroup]="loginForm" (ngSubmit)="register()">
                <input formControlName="userName" type="text" name="username" [(ngModel)]="userName" placeholder="username"><br><br>
                <input formControlName="createPassword" type="password" [(ngModel)]="createPassword" name="createPassword" placeholder="create password">
                <span *ngIf="(loginForm?.get('createPassword')?.dirty && !loginForm.get('createPassword')?.value)" [style.color]="'white'">*</span><br><br>
                <input formControlName="confirmPassword" type="password" name="confirmPassword" [(ngModel)]="confirmPassword" placeholder="confirm password">
                <span *ngIf="(loginForm?.get('confirmPassword')?.dirty && !loginForm.get('confirmPassword')?.value)" [style.color]="'white'">*</span>
                <span *ngIf="validationError" [style]="'color:white'">Passwords are not matched</span>
            </form>
            <div class="button mt-5 d-flex">
                <button type="submit" class="btn me-2" (click)="register()" [disabled]="!loginForm.valid">SignUp</button> <p class="click pt-1"> or <a routerLink="/login" style="color: white; text-decoration: none;"> Click here to <span style="text-decoration: underline;">Login</span></a></p>
            </div>
        </div>
    </div>
</div>